<div class="uk-width-medium-3-5 uk-text-left main-cart-details-list uk-flex uk-flex-nowrap">
    <div class="cart-product-image inline-block inline-block-top" style="background-image: url('<%=cart.planDetails.product.primaryImage%>');"></div>
    <div class="inline-block inline-block-top main-cart-details-list-details">
        <p><b><%=cart.planDetails.product.name%> <%=cart.planDetails.product.details%></b></p>
        <p><b><%=language.ship%></b> <%=language.tenfifdays%> | <%=language.shipping%> <span class="pink-color"><%=language.mexicousd%></span> | <span class="pink-color"><%=language.restoftheworld%></span> <%=language.wewillcontact%></p>
    </div>
</div>
<div class="uk-width-medium-2-5 uk-text-right main-cart-right-details" style="font-size: 18px;">
    <!-- <div style="margin-bottom: 8px;">
        <b class="pink-color">$<%=individualAmount%></b>
    </div> -->
    <div style="margin-bottom: 8px;">
        <small> Bracelet: </small><b class="pink-color">$<%=braceletPrice%> <%=language.currencyCode%></b>
    </div>
    <div>
        <small> Plan: <%=planName%> </small><b class="pink-color">$<%=amount%> <%=language.currencyCode%></b><%=amountPostFix%>
    </div>
    <div>
        <small>Quantity: <%=quantity%></small>
    </div>
</div>