
    <h2><%=language.TOTAL%></h2>
    <p style="margin-bottom: 0px;"><b><%=language.Subtotal%> $<%=totalAmount%> MXN</b></p>
    <p style="margin-top: 2px;" class="grey"><b><%=language.FreeShipping%> $90.00 MXN</b></p>
    <p class="order-main-total"><b><%=language.orderTotal%> $<%=totalAmount+90%> MXN</b></p>
