
    <h2><%=language.TOTAL%></h2>
    <p style="margin-bottom: 0px;"><b><%=language.Subtotal%> $<%=(totalAmount)%> <%=language.currencyCode%></b></p>
    <p style="margin-top: 2px;" class="grey"><b><%=language.FreeShipping%> $<%=language.taxAmount%> <%=language.currencyCode%></b></p>
    <p class="order-main-total"><b><%=language.orderTotal%> $<%=totalAmount+language.taxAmount%> <%=language.currencyCode%></b></p>
