<nav class="uk-navbar">
    <a href="/" class="uk-navbar-brand">
        <img src="/images/logo.png" class="logo-white">
        <img src="/images/logo2.png" class="logo-black">
    </a>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li data-uk-dropdown="{mode:'click'}" class="language">
                    <button class="uk-button uk-button-default language-main <%=language.languageClass%>" type="button"></button>
                    <div class="uk-dropdown language-dropdown">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a class="spanish-flag language-select" href="https://kwema.com.mx"></a></li>
                            <li><a class="english-flag language-select" href="#"></a></li>
                        </ul>
                    </div>
            </li>
            <li>
                <button class="navbar-cart"><img src="/images/cart.png"><span class="cart-count">0</span></button>
            </li>
            <li class="uk-visible-small">
                <a href="#toggler" class="uk-navbar-nav uk-navbar-toggle" data-uk-offcanvas style="padding-left: 0px;"></a>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-flip uk-hidden-small">
            <ul class="uk-navbar-nav">
                <li><a href="/shop"><%=language.SHOP%></a></li>
                <li><a href="/explore"><%=language.EXPLORE%></a></li>
                <li><a href="https://medium.com/@Kwema" target="_blank"><%=language.BLOG%></a></li>
            </ul>
    </div>
</nav>
<div id="toggler" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul>
            <li><a href="/shop" ><%=language.SHOP%></a></li>
            <li><a href="/explore" ><%=language.EXPLORE%></a></li>
            <li><a href="https://medium.com/@Kwema" target="_blank" ><%=language.BLOG%></a></li>

        </ul>
    </div>
</div>