<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>

    <form action="/shop/checkout-login" method="POST">
        <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
            <h1><%=language.yourShoppingCart%></h1>
            
            <div class="cart-container">
                <div class="uk-grid" data-uk-grid style="padding-top:30px;">
                    <%
                    var totalAmount = 0;
                    var amount = 0;
                    cartDetails.forEach(function(cartItem){
                        /*if(cartItem.planType=="monthly"){
                            amount=cartItem.planDetails.currencies[0].value;
                            amountPricePost=cartItem.planDetails.currencies[0].currency;
                            amountPostfix="/mo"
                        }*/

                        amount=cartItem.productDetails[0].design.currencies[0].value;

                        var braceletPrice = cartItem.productDetails[0].design.currencies[0].value;
                        /*if(cartItem.discount){
                            devicePrice = cartItem.design.discounts[0].currencies[0].value;
                        }
                        if(cartItem.discount=="xmas"){
                            amount=0;
                        }*/
                        var devicePricePost = cartItem.productDetails[0].design.currencies[0].currency;
                        var quantity=cartItem.quantity
                        totalAmount=totalAmount+amount;
                    %>
                    <%include shared/carttop.ejs%>
                    <%
                    })
                    %>
                    
                </div>
            </div>
            <div class="cart-container uk-text-left">
                <h2><%=language.SHIPPING%></h2>
                <div class="uk-grid" data-uk-grid>
                    
                    <div class="uk-width-medium-1-2 uk-grid" data-uk-grid>

                        <div class="uk-width-small-1-1">
                            <input type="text" name="firstName" placeholder="<%=language.addressedToName%>" class="uk-input" value="<%=user.firstName %>" required>  
                        </div>
                        <div class="uk-width-small-1-2">
                            <input type="text" name="areaCode" placeholder="<%=language.areaCode%>" class="uk-input" value="<%=user.areaCode%>" required> 
                        </div>
                        <div class="uk-width-small-1-2">
                            <input type="number" name="phone" placeholder="<%=language.Phone%>" class="uk-input" value="<%=user.phone%>" required> 
                        </div>
                        <div class="uk-width-small-1-1">
                            <input type="text" name="address" placeholder="<%=language.Address%>" class="uk-input" value="<%=user.address%>" required> 
                        </div>
                        <div class="uk-width-1-2">
                            <input type="text" name="country" placeholder="<%=language.country%>" class="uk-input" value="<%=user.country%>" required>
                        </div>
                        <div class="uk-width-small-1-2">
                            <input type="text" name="city" placeholder="<%=language.City%>" class="uk-input" value="<%=user.city%>" required> 
                        </div>
                        <div class="uk-width-small-1-2">
                            <input type="text" name="state" placeholder="<%=language.State%>" class="uk-input" value="<%=user.state%>" required> 
                        </div>
                        <div class="uk-width-small-1-2">
                            <input type="text" name="zipCode" placeholder="<%=language.zipCode%>" class="uk-input" value="<%=user.zipCode%>" required> 
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2 uk-text-left">
                        <p style="margin-bottom: 2px;"><b><%=language.shippingNotification%></b></p>
                        <p style="margin:0px; margin-bottom: 2px;"><%=language.shippingNotp1%></p>
                        <!-- <p style="margin:0px; margin-bottom: 4px;"><%=language.shippingNotp2%></p> -->
                        <div>
                            <input type="text" name="email" class="uk-input" value="<%=user.email%>" placeholder="<%=language.login.emailAddress%>*" required> 
                        </div>
                    </div> 
                </div>
            </div>
            <div class="cart-container uk-text-left" style="border-bottom:none;">
                <div class="uk-grid uk-text-left" data-uk-grid>
                    <div class="uk-width-medium-1-2 uk-text-right total-payment-page"></div>
                    <div class="uk-width-medium-1-2 uk-text-right total-payment-page">
                        <%include shared/carttotal.ejs%>
                        <div>
                            <button class="uk-button uk-button-primary"><%=language.proceedToPay%>  <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script type="text/javascript">
    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }

    $(".choose-payment-type-button").click(function(){
        var self = $(this);
        $(".choose-payment-type-button").removeClass("active");
        self.addClass("active");
    })
</script>
</body>
</html>