<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>
    <div class="uk-text-center">
        <div class="explore-pointers-container" style="padding-top:120px;">
            <div class="uk-text-center">
                <h2 style="margin-bottom:40px; font-weight:bolder;"><%=language.explore.title%></h2>
            </div>
            
            <ul>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    1</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.p1h%></p>
                        <p><%=language.explore.p1%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    2</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.p2h%></p>
                        <p><%=language.explore.p2%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    3</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.p3h%></p>
                        <p><%=language.explore.p3%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    4</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.p4h%></p>
                        <p><%=language.explore.p4%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    5</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.p5h%></p>
                        <p><%=language.explore.p5%></p>
                    </div>
                </li>
                <li class="pink-color" style="margin-top:20px;">
                    <div class="number inline-block inline-block-top" style="background-color:transparent">
                    </div><div 
                    class="content inline-block inline-block-top">
                        <p><%=language.explore.goodToGo%></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="explore-pointers-container " >
            <div class="uk-text-center">
                <h2 style="margin-bottom:40px; font-weight:bolder;"><%=language.explore.howworks%></h2>
            </div>
            
            <ul>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    1</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.po1%></p>
                        <p><%=language.explore.po1p%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    2</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.po2%></p>
                        <p style="margin-bottom:0px;"><b><%=language.explore.po2p%></b></p>
                        <p class="grey" style="font-weight:lighter; margin-top:2px;"><%=language.explore.po2pg%></p>
                    </div>
                </li>
                <li class="pink-color">
                    <div class="number inline-block inline-block-top">
                    3</div><div 
                    class="content inline-block inline-block-top">
                        <p class="pink-color"><%=language.explore.po3%></p>
                        <p><%=language.explore.po3p%></p>
                    </div>
                </li>
                <li class="pink-color" style="margin-top:20px;">
                    <div class="number inline-block inline-block-top" style="background-color:transparent">
                    </div><div 
                    class="content inline-block inline-block-top">
                        <p><%=language.explore.buildingsafeworld%></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-width-1-1 explore-container-features">
            <div class="padding-sides padding-top-bottom">
                <h2 class="container-heading"><%=language.explore.personalsecurity%></h2>
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-medium-1-4 inner-container-features">
                        <img src="/images/finger.png" style="max-height:91px;">
                        <p><b><%=language.explore.feature1%></b></p>
                        <p><%=language.explore.feature1p%></p>
                    </div>
                    <div class="uk-width-medium-1-4 inner-container-features">
                        <img src="/images/mobile.png" style="max-height:91px;">
                        <p><b><%=language.explore.feature2%></b></p>
                        <p><%=language.explore.feature2p%></p>
                    </div>
                    <div class="uk-width-medium-1-4 inner-container-features">
                        <img src="/images/share.png" style="max-height:91px;">
                        <p><b><%=language.explore.feature3%></b></p>
                        <p><%=language.explore.feature3p%></p>
                    </div>
                    <div class="uk-width-medium-1-4 inner-container-features">
                        <img src="/images/running.png" style="max-height:91px;">
                        <p><b><%=language.explore.feature4%></b></p>
                        <p><%=language.explore.feature4p%></p>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 padding-sides padding-top-bottom explore-container-analytics" style="padding-top:60px;">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-medium-1-3 inner-container-features">
                        <p class="percent-big">45%</p>
                        <div>
                            <p><%=language.explore.stats1%></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3 inner-container-features">
                        <p class="percent-big">98%</p>
                        <div>
                            <p><%=language.explore.stats2%></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3 inner-container-features">
                        <p class="percent-big"><%=language.explore.oneOutOfThree%></p>
                        <div>
                            <p><%=language.explore.stats3%></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-text-center plans-about-us padding-top-bottom padding-sides">
            <h2><%=language.explore.chooseplan%></h2>
            <h4><%=language.explore.checkoutPlans%></h4>
            <div class="uk-grid" data-uk-grid style="margin-left:0px;">
                <div class="uk-width-medium-1-3">
                    <div class="inner-container-plans">
                        <h4><b><%=language.explore.Day%></b></h4>
                        <h3><%=language.explore.plan1%></h3>
                        <b class="grey">
                            <div ><%=language.explore.plan1y%></div>
                        </b>
                        <p class="grey"><%=language.explore.plan1f1%></p>
                        <p class="grey"><%=language.explore.plan1f2%></p>
                        <p class="grey"><%=language.explore.plan1f3%></p>
                        <p class="grey"><%=language.explore.plan1f4%></p>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="inner-container-plans">
                        <h4><b><%=language.explore.Evening%></b></h4>
                        <h3><%=language.explore.plan2%></h3>
                        <b class="grey">
                            <div><%=language.explore.plan2y%></div>
                        </b>
                        <p class="grey"><%=language.explore.plan1f1%></p>
                        <p class="grey"><%=language.explore.plan1f2%></p>
                        <p class="grey"><%=language.explore.plan1f3%></p>
                        <p class="grey"><%=language.explore.plan1f4%></p>
                        <p class="pink-color" style="font-size: 18px;"><b><%=language.explore.plan2d1%></b></p>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="inner-container-plans">
                        <h4><b><%=language.explore.Night%></b></h4>
                        <h3><%=language.explore.plan3%></h3>
                        <b class="grey">
                            <div><%=language.explore.plan3y%></div>
                        </b>
                        <p class="grey"><%=language.explore.plan1f1%></p>
                        <p class="grey"><%=language.explore.plan1f2%></p>
                        <p class="grey"><%=language.explore.plan1f3%></p>
                        <p class="grey"><%=language.explore.plan1f4%></p>
                        <p class="pink-color" style="font-size: 18px;"><b><%=language.explore.plan3d1%></b></p>

                    </div>
                </div>
                <div class="uk-width-medium-1-1" style="padding:0px 10px; margin-top: 10px;">
                    <div class="inner-container-plans">
                        <h4><b><%=language.explore.Premium%></b></h4>
                        <h3 class="pink-color"><b><%=language.explore.comingUp%></b></h3>
                        <div class="grey"><%=language.explore.comingupf1%></div>
                        <div class="grey"><small><%-language.explore.comingupf2%></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script type="text/javascript">
    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }
</script>
</body>
</html>