<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>

    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
        <h1><%=language.login.pleaseLogin%></h1>
        <div class="uk-grid uk-flex uk-flex-nowrap loginscreen" data-uk-grid style="padding-top:30px; margin:0px;">
            <div class="uk-width-medium-1-2 register-login-container">
                <div class="login-container">
                    <h4><%=language.login.loginToAccount%></h4>
                    <form action="/shop/login" method="POST">
                        <div>
                            <input type="text" name="email" placeholder="<%=language.login.emailAddress%>*" class="uk-input" required>
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="<%=language.login.password%>*" class="uk-input" required>
                        </div>
                        <div class="uk-text-left">
                            <p class="pink-color">
                            <a href="/forgot-password"><%=language.login.forgotPassword%></a>
                            </p>
                        </div>

                        <div class="uk-text-center">
                            <input type="checkbox" name="terms" style="display:inline; width:initial !important" required><%-language.iagreetermsandconditions%><a data-uk-modal="{target:'#tandc'}" href = "#"><%=language.termsAndConditions%></a>
                            <div>
                                <button class="uk-button uk-button-primary" style="margin-top:10px;">
                                    <%=language.login.signIn%>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-medium-1-2 register-login-container">
                <div class=" uk-flex uk-flex-center uk-flex-middle" style="height:100%">
                    <div class="inline-block">
                        <h2><%=language.login.joinTheCommunity%></h2>
                        <button class="uk-button uk-button-primary uk-width-1-1" data-uk-modal="{target:'#register'}">JOIN THE COMMUNITY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="register" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            
            <form action="/shop/register" method="POST" id="registerBuyer">
                <div class="uk-text-center">
                    <h2 style="margin-bottom:30px;"><%=language.login.register%></h2> 
                    <div>
                        <input type="text" name="firstName" placeholder="<%=language.login.firstName%>" required>
                    </div>
                    <div>     
                        <input type="text" name="lastName" placeholder="<%=language.login.lastName%>">
                    </div> 
                    <div>
                        <input type="text" name="email" placeholder="<%=language.login.emailAddress%>" required>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="<%=language.login.password%>" required>
                    </div>
                    <div>
                        <input type="password" name="repeatPassword" placeholder="<%=language.login.repeatPassword%>" required>
                    </div>
                    <div class="g-recaptcha inline-block" data-sitekey="6LcILDUUAAAAAAd6zGXB1m8HHl9fThnb2eJo7GZt"></div>

                    <div class="padding-top-bottom">
                        <button class="uk-button uk-button-primary"><%=language.login.register%></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script type="text/javascript">
    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }

    $("#registerBuyer").submit(function(e){
        var self = $(this);
        self.validate();
        console.log(self.serialize());
        /*$.ajax({
            url:"/shop/register",
            method:"POST",
            data:self.serialize(),
            success:function(data){

            },
            error:function(err){

            }
        })*/
        //return false;
    })
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>