<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>

    <form action="https://compropago.com/comprobante" method="POST" id="payment-form">
        <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
            <h1><%=language.yourshop%></h1>
            
            <div class="cart-container">
                <div class="uk-grid" data-uk-grid style="padding-top:30px;">
                    <%
                    var totalAmount = 0;
                    var id="";
                    cartDetails.forEach(function(cart){%>
                        <%
                        if(cart.planType=="monthly"){
                            var amount=cart.planDetails.monthlyPrice*18;
                            var amountPostFix = "/mo";
                        }
                        else if(cart.planType=="yearly"){
                            var amount=cart.planDetails.yearlyPrice*18;
                            var amountPostFix = "/yr";
                        }
                        var braceletPrice=cart.planDetails.devicePrice*18;
                        var planPrice=amount;
                        var quantity = cart.quantity;
                        var individualAmount = amount+(cart.planDetails.devicePrice*18);
                        totalAmount = totalAmount+individualAmount;
                        %>
                        <%include shared/carttop.ejs%>
                    <%})%>
                    
                </div>
            </div>
            
            <div class="cart-container uk-text-left" style="border-bottom:none;">
                <div class="uk-grid uk-text-left" data-uk-grid>
                    <div class="uk-width-medium-1-2" style="margin-bottom:20px;">
                            <h2><%=language.PAYMENT%></h2>
                            <div>
                                <div class="uk-width-1-1">
                                    <div style="margin-bottom:10px;">
                                            <a href="/shop/pay/card">
                                                <button type="button" class="uk-button choose-payment-type-button"><%=language.card%></button>
                                            </a>
                                                <button type="button" class="uk-button choose-payment-type-button active"><%=language.inCash%></button>
                                        <!-- <a href="/shop/pay/other">
                                            <button class="uk-button choose-payment-type-button">Paypal</button>
                                        </a> -->
                                    </div>
                                </div>

                                    <input type="hidden" name="public_key" value="pk_live_7104bd6351394a4141">
                                    <input type="hidden" name="product_price" value="<%=totalAmount%>">
                                    <input type="hidden" name="product_name" value="payment">
                                    <input type="hidden" name="product_id" value="<%=id%>">
                                    <input type="hidden" name="customer_name" value="<%=user.firstName%>">
                                    <input type="hidden" name="customer_email" value="<%=user.email%>">
                                    <input type="hidden" name="customer_phone" value="<%=user.phone%>">
                                    <input type="hidden" name="success_url" id="successUrl" value="">
                                    <input type="hidden" name="failed_url" id="failureUrl" value="https://kwema.com.mx/shop/pay/cash/failure">
                                    <!-- <button class="uk-button uk-button-"></button>
                                    <input type="image"  border="0" name="submit" alt="Pagar con ComproPago"> -->
                                    
                            </div>
                    </div>
                    <div class="uk-width-medium-1-2 uk-text-right total-payment-page">
                        <%include shared/carttotal.ejs%>
                            <div>
                                <button class="uk-button uk-button-primary"><%=language.payNow%>  <i class="fa fa-caret-right"></i></button>
                            </div>
                    </div>
                    <!-- <div class="uk-width-medium-1-2 uk-text-right total-payment-page">
                        
                        <p><b>Subtotal <%=totalAmount%>$</b></p>
                        <p class="grey"><b>Free Shipping</b></p>
                        <p><b>Order Total <%=totalAmount%>$</b></p>
                        <div><button class="uk-button uk-button-primary">PAY NOW <i class="fa fa-caret-right"></i></button></div>
                    </div> -->
                </div>
            </div>
        </div>
    </form>
    
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
console.log(window.location.origin+"/shop/pay/cash/failure");
    $("#successUrl").val(window.location.origin+"/shop/pay/cash/success");
    $("#failureUrl").val(window.location.origin+"/shop/pay/cash/failure");
</script>
<script type="text/javascript">

    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }

    $("#payment-form").submit(function(e){

        $.ajax({
            url:"/shop/paybycash/save",
            method:"GET",
            success:function(data){
                return true;
            },
            error:function(err){
                return false;
            }
        })

    })


    /*$(".choose-payment-type-button").click(function(){
        var self = $(this);
        $(".choose-payment-type-button").removeClass("active");
        self.addClass("active");
    })*/

    
</script>
</body>
</html>