<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>
    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
        <h1><%=product.design.name%> <%=language.collection%></h1>
            <div class="uk-text-center">
                <div class="cart-process">
                    <div class="line"></div><div class="line"></div>
                    <div class="cart-circle left active">
                        <a href="/shop/products/<%=product.design.name%>/<%=product.name%>">
                            <div class="circle">1</div>
                            <div class="text">Elige tu brazalete</div>
                        </a>
                    </div>
                    <div class="cart-circle center">
                        <a href="/shop/products/<%=product.design.name%>/<%=product.name%>/plans">
                            <div class="circle">2</div>
                            <div class="text">Elige tu plan</div>
                        </a>
                    </div>
                    <div class="cart-circle right">
                        <div class="circle">3</div>
                        <div class="text">Al carrito</div>
                    </div>
                </div>
            </div>
            <div class="uk-grid products product<%=product.id%>" data-uk-grid style="padding-top:30px;">
                <div class="uk-width-medium-1-2 uk-flex uk-flex-middle uk-flex-center" style="margin-bottom:40px;">
                    <div class="product-colors-container">
                        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
                            <ul class="uk-slideshow">
                                <%if(product.images){%>
                                    <%JSON.parse(product.images).forEach(function(image){%>
                                        <li>
                                            <img src="<%=image%>" width="200" height="200px">
                                        </li>
                                    <%})%>
                                <%}%>
                            </ul>
                            <!-- <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a> -->
                             <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                                <%if(product.images){var i=0%>
                                    <%JSON.parse(product.images).forEach(function(image){%>
                                        <li>
                                            <li data-uk-slideshow-item="<%=i%>"><a href=""></a></li>
                                        </li>
                                    <% i++ })%>
                                <%}%>
                            </ul> 
                        </div>
                        <p style="margin-bottom:0px; margin-top:40px;" class="pink-color"><b><%=product.name%></b></h4>
                        <p class="pink-color" style="margin-top: 0px;">$<%=design.currencies[0].value%> <%=design.currencies[0].currency%></p>
                    </div> 
                </div>
                <div class="uk-width-medium-1-2 uk-flex yk-flex-middle">
                    <div class="product-features">
                        
                        <div class="uk-grid" data-uk-grid="{gutter: 20px}">
                            <div class="uk-width-medium-1-3 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon1.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>ELECTRÓNICA</b></p>
                                    <p class="nomargin subdescription">Hecha en USA</p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon2.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>MATERIAL</b></p>
                                    <p class="nomargin subdescription"><%=product.material%></p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon3.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>JOYA</b></p>
                                    <p class="nomargin subdescription"><%=product.stone%></p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon4.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>DURACIÓN DE LA BATERÍA</b></p>
                                    <p class="nomargin subdescription">6 Meses (dependiendo del uso)</p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon5.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>CONEXIÓN</b></p>
                                    <p class="nomargin subdescription">Bluetooth 4.0 LE</p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-flex uk-flex-nowrap features-container">
                                <div class="feature-image-cont">
                                    <img src="/images/ficon6.png">
                                </div>
                                <div>
                                    <p class="nomargin"><b>EN LA CAJA</b></p>
                                    <p class="nomargin subdescription">Pulsera Kwema, Dispositivo Bluetooth (batería incluida)</p>
                                </div>
                            </div>
                        </div>    
                        <div class="uk-text-left" class="pink-color">
                            <a href="https://youtu.be/QzJ57no86SE" target="_blank">
                                <i class="fa fa-play-circle-o pink-color how-it-works" style="font-size: 40px; margin-right: 10px;"></i><span class="pink-color how-it-works"> <%=language.seeHowWorks%></span>
                            </a>
                        </div>
                            
                        <div class="uk-width-1-1 uk-text-left" style="margin-top:20px;">
                                <div class="uk-grid" data-uk-grid>

                                            <!-- <div class="uk-width-1-2 uk-text-left"><a data-uk-modal="{target:'#planDetails'}"><%=language.planDetails%></a></div> -->
                                            
                                            <div class="product-selector uk-width-1-1 uk-text-center" >
                                                <%products.forEach(function(productdetails){%>
                                                    <a href="/shop/products/<%=product.design.name%>/<%=productdetails.name%>">
                                                <button type="button" style="background-color: <%=productdetails.color%>;" class="select-product <%=productdetails.name%> 
                                                <%
                                                if(productdetails.id == product.id){
                                                    %>active<%
                                                }
                                                %>" value="<%=productdetails.id%>"></button></a>
                                                <%})%>
                                            </div>
                                            <div class="uk-width-1-1 uk-text-center">
                                                <a href="/shop/products/<%=product.design.name%>/<%=product.name%>/plans">
                                                    <button class="uk-button uk-button-primary" id="addToCart">SELECCIONAR</button>
                                                </a>
                                            </div>
                                </div>
                        </div>
                    </div> 
                </div>
            </div>        
    </div>
    <%include includes/footer.ejs%>

    <div id="planDetails" class="uk-modal">
        <div class="uk-modal-dialog" style="width:90%;">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-width-1-1 uk-text-center plans-about-us padding-top-bottom padding-sides">
                <h2><%=language.explore.chooseplan%></h2>
                <h4><%=language.explore.checkoutPlans%></h4>
                <div class="uk-grid" data-uk-grid style="margin-left:0px;">
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Day%></b></h4>
                            <h3><%=language.explore.plan1%></h3>
                            <b class="grey">
                                <div ><%=language.plandetails.plan1.p2%></div>
                            </b>
                            <p class="grey"> <%=language.plandetails.plan1.p3%></p>
                            <p class="grey"> <%=language.plandetails.plan1.p4%></p>
                            <p class="grey"> <%=language.plandetails.plan1.p5%></p>
                            <p class="grey"> <%=language.plandetails.plan1.p6%></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Evening%></b></h4>
                            <h3><%=language.explore.plan2%></h3>
                            <b class="grey">
                                <div ><%=language.plandetails.plan2.p2%></div>
                            </b>
                            <p class="grey"> <%=language.plandetails.plan2.p3%></p>
                            <p class="grey"> <%=language.plandetails.plan2.p4%></p>
                            <p class="grey"> <%=language.plandetails.plan2.p5%></p>
                            <p class="grey"> <%=language.plandetails.plan2.p6%></p>
                            
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Night%></b></h4>
                            <h3><%=language.explore.plan3%></h3>
                            <b class="grey">
                                <div ><%=language.plandetails.plan3.p2%></div>
                            </b>
                            <p class="grey"> <%=language.plandetails.plan3.p3%></p>
                            <p class="grey"> <%=language.plandetails.plan3.p4%></p>
                            <p class="grey"> <%=language.plandetails.plan3.p5%></p>
                            <p class="grey"> <%=language.plandetails.plan3.p6%></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1" style="padding:0px 10px; margin-top: 10px;">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Premium%></b></h4>
                            <h3 class="pink-color"><b><%=language.explore.comingUp%></b></h3>
                            <div class="grey"><%=language.explore.comingupf1%></div>
                            <div class="grey"><small><%-language.explore.comingupf2%></small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

<%include includes/scripts.ejs%>

<script type="text/javascript">
    
    toggleLogo();
    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }


</script>
</body>
</html>