<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>
    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
        <h1><%=product.design.name%> <%=language.collection%></h1>
            <div class="uk-grid products product<%=product.id%>" data-uk-grid style="padding-top:30px;">
                <div class="uk-width-medium-1-2 uk-flex uk-flex-middle uk-flex-center" style="margin-bottom:40px;">
                    <div class="product-colors-container">
                        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
                            <ul class="uk-slideshow">
                                <%if(product.images){%>
                                    <%JSON.parse(product.images).forEach(function(image){%>
                                        <li>
                                            <img src="<%=image%>" width="200" height="200px">
                                        </li>
                                    <%})%>
                                <%}%>
                            </ul>
                            <!-- <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a> -->
                             <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                                <%if(product.images){var i=0%>
                                    <%JSON.parse(product.images).forEach(function(image){%>
                                        <li>
                                            <li data-uk-slideshow-item="<%=i%>"><a href=""></a></li>
                                        </li>
                                    <% i++ })%>
                                <%}%>
                            </ul> 
                        </div>
                    </div> 
                </div>
                <div class="uk-width-medium-1-2 uk-flex yk-flex-middle">
                    <div class="product-features">
                        <h4 style="margin-bottom:5px; margin-top:20px; font-size:30px;"><b><%=product.name%></b></h4>
                        <p style="margin-top:0px; margin-bottom:10px;" class="pink-color"><b><%=product.details%></b></p>
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-small-1-3">
                                <p class="small-top-bottom-margin-p"><img src="/images/cell.png"></p>
                                <p class="grey small-top-bottom-margin-p">CR1220</p>
                            </div>
                            <div class="uk-width-small-1-3">
                                <p class="small-top-bottom-margin-p"><img src="/images/chip.png"></p>
                                <p class="small-top-bottom-margin-p grey"><%=language.madeInUs%></p>
                            </div>
                            <div class="uk-width-small-1-3">
                                <p class="small-top-bottom-margin-p"><img src="/images/bluetooth.png"></p>
                                <p class="grey small-top-bottom-margin-p"><%=language.lowEnergy%> (4.0)</p>
                            </div>
                            <div class="uk-width-1-1 uk-text-left">
                                <div>1. <%=language.chooseYourBracelet%></div>
                                <div>2. <%=language.choseYourPLan%></div>
                                <div><small>(Subscripcion mensual + Precio de Dispositivo)</small></div>
                            </div>
                            <div class="uk-width-1-1 uk-text-left" style="margin-top:20px;">
                                <form action="/shop/usercart" method="POST" class="usercart">
                                    <div class="uk-grid" data-uk-grid>
                                        
                                            <%
                                            product.plans.forEach(function(planDetails){
                                            %>
                                                <div class="uk-width-small-1-3 plan-details-plans">
                                                    
                                                        <div class="uk-text-center">
                                                            <div class="uk-button uk-form-select select-plan-cover" value="<%=planDetails.devicePrice*18%>" data-uk-form-select style="width:100%;">
                                                                <span class="plans-text <%=planDetails.name%>"></span>
                                                                <i class="uk-icon-caret-down"></i>
                                                                <input type="hidden" name="planId" value="<%=planDetails.id%>">
                                                                <input type="hidden" name="planType" value="" class="plan-type-hidden">
                                                                <select value="" class="selectPlan">
                                                                    <option selected="true" disabled="disabled" value=""><%=planDetails.name%></option>
                                                                    <option value="monthly">$<%=planDetails.monthlyPrice*18%> MXN<%=language.monthlypostFix%></option>
                                                                    <!-- <option value="yearly">$<%=planDetails.yearlyPrice%><%=language.yearlypostFix%></option> -->
                                                                </select>
                                                            </div>
                                                        </div>
                                                </div>
                                            <%
                                            })
                                            %>
                                            <!-- <div style="margin-bottom: 0px;"><%=language.choosePlanTitle%></div> -->
                                            <div class="pink-color" style="margin-bottom: 10px; margin-top: 10px;"><span style="font-size: 30px;">$</span><span class="deviceBasePrice"><%=product.price*18%></span> MXN/<%=language.oneTimePayment%></div>

                                                <div class="uk-width-1-2 uk-text-left"><a data-uk-modal="{target:'#planDetails'}" type="button"><%=language.planDetails%></a></div>
                                                <div class="uk-width-1-2 uk-text-right"> 
                                                    <!-- <div class="uk-text-right"><p><a href="#"><%=language.alreadyHavePlan%></a></p></div> -->
                                                </div>
                                                <div class="product-selector uk-width-1-1 uk-text-center" >
                                                    <%products.forEach(function(productdetails){%>
                                                        <a href="/shop/plans?id=<%=product.design.id%>&&productId=<%=productdetails.id%>">
                                                    <button type="button" style="background-color: <%=productdetails.color%>;" class="select-product <%=productdetails.name%> 
                                                    <%
                                                    if(productdetails.id == product.id){
                                                        %>active<%
                                                    }
                                                    %>" value="<%=productdetails.id%>"></button></a>
                                                    <%})%>
                                                </div>
                                                <div class="uk-width-1-1 uk-text-center">
                                                    <button class="uk-button uk-button-primary" id="addToCart"><%=language.addToCart%></button>
                                                </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>        
    </div>
    <%include includes/footer.ejs%>

    <div id="planDetails" class="uk-modal">
        <div class="uk-modal-dialog" style="width:90%;">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-width-1-1 uk-text-center plans-about-us " >
                <h2><%=language.explore.chooseplan%></h2>
                <h4><%=language.explore.checkoutPlans%></h4>
                <div class="uk-grid" data-uk-grid style="margin-left:0px;">
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Day%></b></h4>
                            <h3><%=language.explore.plan1%></h3>
                            <b class="grey">
                                <div ><%=language.explore.plan1y%></div>
                            </b>
                            <p class="grey"><%=language.explore.plan1f1%></p>
                            <p class="grey"><%=language.explore.plan1f2%></p>
                            <p class="grey"><%=language.explore.plan1f3%></p>
                            <p class="grey"><%=language.explore.plan1f4%></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Evening%></b></h4>
                            <h3><%=language.explore.plan2%></h3>
                            <b class="grey">
                                <div><%=language.explore.plan2y%></div>
                            </b>
                            <p class="grey"><%=language.explore.plan1f1%></p>
                            <p class="grey"><%=language.explore.plan1f2%></p>
                            <p class="grey"><%=language.explore.plan1f3%></p>
                            <p class="grey"><%=language.explore.plan1f4%></p>
                            <p class="pink-color" style="font-size: 18px;"><b><%=language.explore.plan2d1%></b></p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Night%></b></h4>
                            <h3><%=language.explore.plan3%></h3>
                            <b class="grey">
                                <div><%=language.explore.plan3y%></div>
                            </b>
                            <p class="grey"><%=language.explore.plan1f1%></p>
                            <p class="grey"><%=language.explore.plan1f2%></p>
                            <p class="grey"><%=language.explore.plan1f3%></p>
                            <p class="grey"><%=language.explore.plan1f4%></p>
                            <p class="pink-color" style="font-size: 18px;"><b><%=language.explore.plan3d1%></b></p>

                        </div>
                    </div>
                    <div class="uk-width-medium-1-1" style="padding:0px 10px; margin-top: 10px;">
                        <div class="inner-container-plans">
                            <h4><b><%=language.explore.Premium%></b></h4>
                            <h3 class="pink-color"><b><%=language.explore.comingUp%></b></h3>
                            <div class="grey"><%=language.explore.comingupf1%></div>
                            <div class="grey"><small><%-language.explore.comingupf2%></small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

<%include includes/scripts.ejs%>

<script type="text/javascript">
    
    toggleLogo();
    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }

    /*$(".choose-plan-button").click(function(){
        $(".choose-plan-button").removeClass("active");
        var self = $(this);
        self.addClass("active");
        var planId = self.val();
        $("#planId").val(planId);
    })*/

    /*$("#checkoutForm").submit(function(){
        var self = $(this);
        if($("#planId").val().trim()==""){
            return false;
        }
        else{
            return true;
        }
    })*/

    /*$(".usercart").submit(function(e){
        cartModal.show();
        var self = $(this);
        $.ajax({
            url:"/shop/usercart",
            method:"POST",
            data:self.serialize(),
            success:function(data){

                $(".cart-count").html(data.length);
                $(".cart-details").html("");
                data.forEach(function(cartItem){
                    var amount=0;
                    var amountPostfix="";
                    if(cartItem.planType=="bracelet"){
                        amount=cartItem.planDetails.devicePrice;
                    }
                    else if(cartItem.planType=="monthly"){
                        amount=cartItem.planDetails.monthlyPrice;
                        amountPostfix="/mo"
                    }
                    else if(cartItem.planType=="yearly"){
                        amount=cartItem.planDetails.yearlyPrice;
                        amountPostfix="/yr"
                    }
                    var itemHtml = '<div class="uk-grid" data-uk-grid=""><div class="uk-width-small-1-5"><div class="cart-product-image"></div></div><div class="uk-width-small-3-5 uk-text-left cart-all-details-sidebar"><p>'+cartItem.planDetails.product.name+'('+cartItem.planDetails.product.details+')'+'</p><p class="pink-color">$'+amount+amountPostfix+'</p><p class="pink-color">Plan:'+cartItem.planDetails.name+'</p></div><div class="uk-width-small-1-5 uk-text-right"><span class="pink-color">'+cartItem.quantity+'</span></div></div>'
                    console.log(itemHtml);
                    $(".cart-details").append(itemHtml);
                })
            },
            error:function(data){
                console.log(err);
            }
        })
        return false;
    })*/

    $(document).on("click",".fa-plus",function(){
        var self = $(this);
        var inputfield = self.parent().prev().prev().prev();
        inputfield.val(parseInt(inputfield.val())+1);
    })

    $(document).on("click",".fa-minus",function(){
        var self = $(this);
        var inputfield = self.parent().next();
        if(parseInt(inputfield.val())>1){
            inputfield.val(parseInt(inputfield.val())-1);
        }
    })


    $(".selectPlan").change(function(e){
        var self = $(this);
        var devicePrice = self.parent().attr("value");
        $(".deviceBasePrice").html(devicePrice);
        console.log(devicePrice);
        console.log(self.val());
        $(".plan-type-hidden").val("");
        self.prev().val(self.val());
    });

    $(".uk-button.select-plan-cover").click(function(e){
        var self = $(this);
        $(".uk-button.select-plan-cover").removeClass("active");
        self.addClass("active");

    })

    $(".usercart").submit(function(e){
        var self = $(this);
        console.log(self.serialize());
        $.ajax({
            url:"/shop/usercart",
            method:"POST",
            data:self.serialize(),
            success:function(data){
                console.log(data);
                $(".cart-count").html(data.length);
                $(".cart-details").html("");
                var totalAmount=0;
                data.forEach(function(cartItem){
                    var amount=0;
                    var amountPostfix="";
                    var devicePrice=cartItem.planDetails.devicePrice;
                    if(cartItem.planType=="bracelet"){
                        amount=cartItem.planDetails.devicePrice;
                    }
                    else if(cartItem.planType=="monthly"){
                        amount=cartItem.planDetails.monthlyPrice;
                        amountPostfix="/mo"
                    }
                    else if(cartItem.planType=="yearly"){
                        amount=cartItem.planDetails.yearlyPrice;
                        amountPostfix="/yr"
                    }
                    totalAmount=totalAmount+amount+devicePrice;
                    var itemHtml = '<div class="uk-grid" data-uk-grid=""><div class="uk-width-small-1-5"><div class="cart-product-image" style="background-image:url('+cartItem.planDetails.product.primaryImage+'); height:100%;"></div></div><div class="uk-width-small-3-5 uk-text-left cart-all-details-sidebar"><p>'+cartItem.planDetails.product.name+'('+cartItem.planDetails.product.details+')'+'</p><p class="pink-color">$'+devicePrice*18+'</p><p class="pink-color">$'+amount*18+amountPostfix+'</p><p class="pink-color"><%=language.Plan%>:'+cartItem.planDetails.name+'</p></div><div class="uk-width-small-1-5 uk-text-right"><span class="pink-color">'+'<div class="uk-width-small-1-1 uk-text-center uk-flex uk-flex-nowrap quantityselector"><span class="pink-color minus"><i class="fa fa-minus"></i></span><input readonly class="quantity" type="text" style="display:inline; width:25px !important; padding:2px!important; text-align:center; margin:0px 5px;" value="'+cartItem.quantity+'" name="quantity"/><input type="hidden" name="planType" value="'+cartItem.planType+'"/><input type="hidden" name="planId" value="'+cartItem.planId+'"/><span class="pink-color plus"><i class="fa fa-plus"></i></span></div>'+'</span></div></div>'
                    console.log(itemHtml);
                    $(".cart-details").append(itemHtml);
                    $(".subtotal").html(totalAmount*18);
                    cartModal.show();
                })
            },
            error:function(err){
                console.log(err);
            }
        })
        return false;
    });

</script>
</body>
</html>