<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>
    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center products-container" style="padding-top:120px;">
        <h1 style="padding-bottom:80px;">EXPLORE THE EVE COLLECTION</h1>
        <div class="uk-grid" data-uk-grid>
            <%products.forEach(function(product){ %>
                    <div class="uk-width-medium-1-3" style="margin-bottom:35px;">
                        <a href="/shop/products/<%=categoryName%>/<%=product.name%>">
                            <div class="product-image">
                                <img src="<%=product.primaryImage%>">
                            </div>
                            <p><b><%=product.name%></b></p>
                            <p class="grey">$<%=product.price%></p>
                        </a>
                    </div>
            <%})%>
        </div>
    </div>   
    <%include includes/footer.ejs%>


<%include includes/scripts.ejs%>

<script type="text/javascript">
    
    toggleLogo();
    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }

</script>
</body>
</html>