<!DOCTYPE html>
<html>
<head>
    <title>Kwema Shop</title>
    <base href="/shop/">
    <%include includes/styles.ejs%>
</head>
<body>
    <%include includes/navbar.ejs %>

    <div class="uk-width-1-1 padding-sides padding-top-bottom uk-text-center" style="padding-top:120px;">
        <h1><%=language.collections%></h1>
        <div class="uk-grid min-vh" data-uk-grid style="padding-top:30px;">
        <%designs.forEach(function(design){%>
            <div class="uk-width-medium-1-2 collections">
                <div class="product-colors-container">
                    <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}">
                        <ul class="uk-slideshow" data-uk-slideshow>
                        <%if(design.images){%>
                            <%JSON.parse(design.images).forEach(function(image){%>
                                <li>
                                    <img src="<%=image%>" width="800" height="500">
                                </li>
                            <%})%>
                        <%}%>
                        </ul>
                        <!-- <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a> -->
                        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                        <%if(design.images){var i=0%>
                            <%JSON.parse(design.images).forEach(function(image){%>
                                <li data-uk-slideshow-item="<%=i%>"><a href=""></a></li>
                            <%i++})%>
                        <%}%>
                        </ul>
                    </div>
                </div>
                <div class="product-description">
                    <p><b><%=design.name%> <%=language.collection%></b></p>
                    <p><%=language.startingAt%> $<%=design.price*18%> MXN</p>
                    <a href="/shop/plans?id=<%=design.id%>"><button class="uk-button uk-button-primary"><%=language.buyNowButton%></button></a>
                </div>
            </div>
        <%})%>
        </div>
    </div>
    
    <%include includes/footer.ejs%>

<%include includes/scripts.ejs%>
<script type="text/javascript">
    
    toggleLogo();

    function toggleLogo(){
            $(".uk-navbar").addClass("active");
            $(".logo-white").hide();
            $(".logo-black").show("slow");
    }
</script>
</body>
</html>